#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:white;
  border-radius: 20px;
}

html, body {
  background-color:#000E2F; /* uconn blue */
  margin: 0;
  padding: 0;
}